body, input, button
{
    font-family: 'Roboto', sans-serif;
}

.credits
{
    margin-top: -1em;
    margin-bottom: 0;
}

.color
{
    width: 50px;
    height: 50px;
}

.container
{
    max-width: 1000px;
    margin: 0 auto;

    text-align: center;
}

.description
{
    display: block;
    max-width: 630px;
    margin: 0 auto 1em;
}

#doc_canvas
{
    width: 100%;
}

label
{
    display: inline-block;
    text-align: right;
    width: 200px;
    margin-right: 25px;
}

input
{
    width: 300px;
}

.form-field
{
    margin-bottom: 1em;
}

button
{
    display: inline-block;
    width: 300px;
}

.download-instructions
{
    display: none;
}

.example
{
    font-size: 3rem;
    margin: 2rem 0;
}

.example img
{
    vertical-align: middle;
}